- unless flash[:error].blank?
  .error= flash[:error].html_safe
- unless flash[:success].blank?
  .success= flash[:success].html_safe
- unless flash[:alert].blank?
  .error= flash[:alert].html_safe
- unless flash[:notice].blank?
  .success= flash[:notice].html_safe