- form_tag edit_multiple_games_path do
  %ul
    %li Name
    - for game in @games
      - p '*********************************************************************'
      - p game
      %ul
        %li= check_box_tag "game_ids[]", game.id
        %li= game.name
        %li= link_to "Edit", edit_game_path(game)
  = submit_tag "Edit Checked"