#games
  %fieldset
    - @game.translations.each do |translation|
      = render 'shared/translation_form', f: f, language: translation.locale, translation: translation, disabled: true, parse_instructions: false, required: false

  = f.submit t('links.review.accept'), class: 'button', confirm: t('links.confirm')

  = f.submit t('links.review.reject'), name: 'delete', confirm: t('links.confirm'), class: 'button refuse'