#wrap
  %p.title= t('titles.review.translator', name: review.user.name)
  %p.title= t('titles.review.translations', count: review.translations.count)

  = link_to t('links.review.revise'), review_edit_path(review), class: 'link'