- if @reviews.present?
  
  %h1 Revisões Disponíveis

  - @reviews.each do |review|
    #wrap
      %p.title Tradutor: #{ review.user.name }
      %p.title Traduções: #{ review.game_translations.count }
      
      = link_to 'Revisar', review_edit_path(review.id), class: 'link'

  = will_paginate @reviews

- else
  
  %h1 Nenhuma Revisão Disponível