@import compass/css3/inline-block
@import compass/utilities/general/clearfix

#games
  dd
    input, textarea
      font-family: 'Open Sans', sans-serif

  dl
    border-right: 1px black solid
    float: left
    margin-right: 10px

  input[type='text']
    width: 400px

  textarea
    height: 150px
    margin-right: 10px
    resize: vertical
    width: 400px

  fieldset
    margin: 15px 10px

  .flag
    +inline-block

  .language
    +inline-block
    margin: 5px

  .instructions
    &.br
      margin-top: 17px
    dl
      border: none

    dt
      +clearfix
      span.label
        float: left
      a
        cursor: pointer
        display: block
        float: left
        margin: 0 3px 0 3px
        text-indent: -9999px
        vertical-align: middle
    dd
      clear: both

  .alert
    display: none