@import blueprint/reset
@import blueprint
@import blueprint/buttons
@import compass/css3
@import compass/utilities
@import compass/css3/inline-block
@import bootstrap.control-sprite

#games
  form
    @include blueprint-form

  dd
    input, textarea
      +border-radius(4px)
      font-family: 'Open Sans', sans-serif 
      padding: 5px
      margin-bottom: 10px

  dl
    float: left
    margin-right: 10px
    border-right: 1px black solid
  
  input[type='text']
    width: 400px

  textarea
    resize: vertical
    width: 400px
    height: 150px
    margin-right: 10px

  fieldset
    margin: 15px 10px

  .flag
    p
      +inline-block
    a
      +inline-block

  .instructions
    &.br
      margin-top: 17px
    dl
      border: none
      
    dt
      +clearfix
      span.label
        float: left
      a
        +control-sprite
        vertical-align: middle
        margin: 0 3px 0 3px
        text-indent: -9999px
        display: block
        float: left
        cursor: pointer
    dd
      clear: both
  
  .alert
    display: none