@import blueprint/buttons
@import blueprint/interaction
@import compass/css3/border-radius
@import compass/css3/box-shadow
@import compass/css3/images
@import compass/reset
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300)
@import compass/css3/transition

body
  font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif
  font-size: 18px

#container
  margin: 60px auto
  width: 1360px

#wrap
  border: 1px solid black
  float: left
  margin: 10px
  padding: 5px
  width: 240px

#nav
  font-family: 'Open Sans', sans-serif

.error, .alert
  +error
  margin-top: 15px

.success
  +success
  margin-top: 15px

h1
  color: #333
  font-family: 'Open Sans', sans-serif
  font-size: 24px
  font-weight: bold
  margin: 10px 0

a, .button, .delete, .refuse
  +transition-property(opacity)
  +transition-duration(0.2s)
  +transition-timing-function(ease-in-out)
  &:hover
    opacity: 0.8

.button
  +border-radius(3px)
  @include background-image(linear-gradient(#68b12f, #50911e))
  @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05))
  background-color: #68b12f
  border-color: #b4e391 #61c419 #b4e391
  color: white
  cursor: pointer
  font-size: 18px
  font-weight: bold
  height: 39px
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
  width: 100px

.refuse
  @include background-image(linear-gradient(#ff3019, #cf0404))
  background-color: #ff3019
  border-color: #ff3019 #cf0404
  &:hover
    border-color: #ff3019

.delete
  +border-radius(3px)
  +inline-block
  @include anchor-button
  @include background-image(linear-gradient(#ff3019, #cf0404))
  @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05))
  @include button-button
  background-color: #cf0404
  border-color: #ff3019 #cf0404
  color: white
  cursor: pointer
  font-size: 18px
  height: 30px
  padding: 7px 0px 0px 17px
  text-decoration: none
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
  width: 80px
  &:hover
    border-color: #ff3019
    color: white
    text-decoration: none

p.title
  margin: 10px 0

a.link
  color: #4183c4
  font-weight: bold
  text-decoration: none
  &:hover
    text-decoration: underline

input, textarea
  +border-radius(4px)
  margin-bottom: 10px
  padding: 5px

.page_wraper
  clear: both
  margin: 0 auto
  width: 325px